| Par Le Monde
| --------------------------------------
|
| #{t("email_welcome2")}
| #{t("email_reset_password_text")}
|
| #{resetUrl}
|
| #{t("email_reset_password_text2")}
|
| #{t("email_end")}
| #{t("email_signature")}
| #{frontUrl}
|
| --------------------------------------
| #{t("email_end_text")} #{receiverEmail}. #{t("email_end_text2")} #{plmoEmail} 
