| Par Le Monde
| --------------------------------------
|
| Bienvenue #{firstname} #{lastname}!
| Pour nous assurer que cette adresse e-mail est bien valide veuillez la vérifier en utilisant le bouton ci-dessous.
|
| #{verifyUrl}
|
| La confirmation de votre adresse e-mail permet de protéger vos informations personnelles et de garantir que seul vous pouvez accéder à votre compte.
|
| Cordialement,
| L'équipe Par Le Monde.
| #{frontUrl}
|
| --------------------------------------
| Ce message a été envoyé à #{receiverEmail}. Si vous avez des questions ou ne souhaitez plus recevoir d'emails, contactez-nous à l'adresse #{plmoEmail} 
