| Par Le Monde
| --------------------------------------
|
| #{t("email_greetings", { firstname, lastname })}
| #{t("email_verify_text")}
|
| #{verifyUrl}
|
| #{t("email_verify_text2")}
|
| #{t("email_end")}
| #{t("email_signature")}
| #{frontUrl}
|
| --------------------------------------
| #{t("email_end_text")} #{receiverEmail}. #{t("email_end_text2")} #{plmoEmail} 
